#logo {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin: 44px auto 46px;
    text-decoration: none;

    & h2 {
        font: var(--display-medium);
        color: var(--content-primary);
        font-size: 24px;
        text-transform: uppercase;
    }
}

@media (width >= 60em) {
    #logo {
        justify-content: start;
        margin: 76px 0 89px 120px;
    }
}
