#questions {
    padding-top: 80px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;

    & .item {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        & .text-container {
            display: flex;
            flex-direction: column;
            flex: 1 0 0;

            & .pm {
                color: var(--content-brand);
                font: var(--paragraph-medium);
            }

            & .ps {
                color: var(--content-secondary);
                font: var(--paragraph-small);
            }
        }
    }
}
